body{
    background:url(inoimg12.gif);
    background-position: center;
    background-repeat: no-repeat;
}
.header {
    background:transparent;
    color: red;
    text-align: left;
    padding: 18px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer {
    background:transparent;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 12px;
    border-radius: 20px;
}
table{
    width: 750px;
    height:550px;
    background:transparent;
    border: 1px solid #444;
    border-radius: 40px;
    opacity: 0.7;  
    color: lightcoral; 

}
td {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    width: 200;
    background:transparent;
    border: none;
    color: white;
}
input:hover{
    background:transparent;
    transition: 0.3s;
}
select{
    background:transparent;
    border: none;
}
textarea{
    background:transparent;
    border: none;
}
textarea:hover{
    background:transparent;
    transition: 0.3s;
}
#v{
    color: white;
    transition: 0.3s;
}
#v:hover{
    color: red;
}